<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type='image/x-icon' href="{% static 'seller/favicon.ico' %}">
    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            var scrollpos = localStorage.getItem('scrollpos');
            if (scrollpos) window.scrollTo(0, scrollpos);
        });

        window.onbeforeunload = function(e) {
            localStorage.setItem('scrollpos', window.scrollY);
        };

    </script>
</head>
<body>
<div class="container">
    <div class="menu">
        <div class="wrap">
            <ul class="menu">
                <li><a href="{% url 'home' %}"><img class="logo" src="{% static 'seller/logo.png' %}" alt="logo"></a>
                </li>
                <li class="text"><a href="{% url 'home' %}">Магазин</a></li>
                <li class="text"><a href="{% url 'goods' %}">Товары</a></li>
                <li class="text"><a href="{% url 'discounts' %}">Скидки</a></li>
                {% if request.user.is_authenticated and user.is_staff %}
                <li class="text"><a href="{% url 'discounts-manage' %}">Управление скидками</a></li>
                {% endif %}
                <li class="text"><a href="{% url 'contacts' %}">Контакты</a></li>
                {% if request.user.is_authenticated %}
                {% if user.is_staff %}
                <li class="text last">Сотрудник: {{ user.username }} | <a href="{% url 'logout' %}">Выйти</a></li>
                {% else %}
                <li class="text last"><a href="{% url 'cart_view' %}">Корзина 🛒 |</a>  Покупатель: {{ user.username }} | <a href="{% url 'logout' %}">Выйти</a></li>
                {% endif %}
                {% else %}
                <li class="text last"><a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Авторизация</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <h2>{{ error }}</h2>
    <div class="content">
        <div class="wrap">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>

</body>

</html>