{% extends 'seller/base.html' %}
{% load static %}
{% block content %}
<h2 class="cat_title">-*Авторизация*-</h2>
<form method="post">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}:</label>{{ f }}</p>
    <div class="form-error">{{f.errors}}</div>
    {% endfor %}

    {% if redirect_field_value == None %}
    <input type="hidden" name="{{ 'goods' }}">
    {% else %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{redirect_field_value}}">
    {% endif %}
    <button class="btn" type="submit">Авторизация</button>

</form>

{% endblock %}
