{% extends 'seller/base.html' %}
{% load static %}
{% block content %}

<h2 class="cat_title">Товары<br></h2>

<h4>Товаров: {{ goods.count }}
    {% if request.user.is_staff %}
    <a class="add_model" href="{% url 'create-good'%}"> + Добавить товар</a>
    {% endif %}
    {% if not request.user.is_authenticated %}
    <em class="last">Необходимо зарегистрироваться и авторизоваться для совершения покупки</em>
    {% endif %}
</h4>

<div class="models">
    {% for good in goods %}
    <div class="elements">
        {% if request.user.is_staff %}
        <h5 class="top"><a href="{% url 'viewgood' good.pk %}">{{ good.title }}</a></h5>

        {# <h5 class="top">{{ price|"price.good_id=good.pk }}</h5> #}

        <div class="decription-text"><p>{{ good.description | striptags | truncatechars:18 }}</p></div>
        <a href="{% url 'viewgood' good.pk %}"><img class="model_img" src="{{ good.picture.url }}" alt="img"></a>
        {% else %}
        <h5 class="top"><a href="">{{ good.title }}</a></h5>
        <div class="decription-text"><p>{{ good.description | striptags | truncatechars:18 }}</p></div>
        <a href=""><img class="model_img" src="{{ good.picture.url }}" alt="img"></a>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}
